  .btn-primary:hover {
            background-color: #fab758 !important;
            border-color: #fab758 !important;
        }

        footer a:hover {
            color: #fab758 !important;
        }

        #phone-content h1 {
            font-size: 18px;
            color: white;
        }

        #number-content a {
            font-size: 18px;
            color: #60697b;
        }

        